{{ card.tool(
  'Auth0', 
  'https://auth0.com/', 
  '/images/auth0.png', 
  'Auth0 Logo', 
  ['Auth'], 
  'Handles your own site\'s auth system or integrates with loads of other services.')
}}

{{ card.tool(
  'Okta', 
  'https://developer.okta.com/', 
  '/images/okta.png', 
  'Okta Logo', 
  ['Auth'], 
  'SDKs to handle all auth and user management.')
}}

{{ card.tool(
  'Google Firebase', 
  'https://firebase.google.com/', 
  '/images/firebase.png', 
  'Google Firebase Logo', 
  ['Auth', 'Realtime Database', 'Media Storage', 'Cloud Functions'], 
  'Handles auth entirely client-side with no cloud functions or anything required.')
}}

{{ card.tool(
  'Netlify Identity', 
  'https://www.netlify.com/docs/identity/', 
  '/images/netlify.png', 
  'Netlify Logo', 
  ['Auth', 'Hosting'], 
  'Netlify Identity service brings a full suite of authentication functionality, backed by the <a href="https://www.gotrueapi.org/">GoTrue API</a>.')
}}