{{
  card.tool(
    "Flamelink",
    "https://flamelink.io/",
    "/images/flamelink.png",
    "Flamelink Logo",
    ["Firebase", "CMS"],
    "A Realtime Headless CMS for Firebase"
  )
}}

{{
  card.tool(
    "Sanity",
    "https://www.sanity.io/",
    "/images/sanity.png",
    "Sanity Logo",
    ["CMS"],
    "Edit collaboratively, distribute over APIs and freely decide later how and where your content will be used."
  )
}}

<div class="idea">
  <h2>Static Site Generators</h2>
  <p>
    There are
    <a href="https://www.staticgen.com/">lots of these out there</a> too, like
    <a href="https://gohugo.io/">Hugo</a> and
    <a href="https://jekyllrb.com/">Jekyll</a>. They pair nicely with static
    hosting. For example, <a href="https://www.netlify.com/">Netlify</a> can run
    your build commands for these static site as you commit to a Git Repo, or
    <a href="https://forestry.io/">Forestry</a> can add a UI (while still being
    Git-backed) on top of them. Other static site generators:
    <a href="https://www.11ty.io/">11ty</a>,
    <a href="http://www.metalsmith.io/">Metalsmith</a>,
    <a href="https://www.gatsbyjs.org/">Gatsby</a>.
  </p>
</div>

<div class="idea">
  <h2>Data Storage</h2>
  <p>
    This is covered by all the major providers, but sometimes you need something
    simpler. <a href="https://webtask.io/">Webtask</a> gives you a small JSON
    store. <a href="https://airtable.com/">Airtable</a> and
    <a href="https://fieldbook.com/">Fieldbook</a> are a wonderful
    spreadsheet/data apps with good JavaScript APIs. Even
    <a href="https://docs.google.com/spreadsheets/">Google Spreadsheets</a> has
    APIs, but can be improved with tools like
    <a href="https://github.com/jsoma/tabletop">Tabletop.js</a>.
  </p>
</div>
