{{ card.tool(
  'Twilio', 
  'https://www.twilio.com/', 
  '/images/twilio.png', 
  'Twilio Logo', 
  ['SMS', 'Voice', 'Push Notificaitons', 'WebRTC'],  
  'Twilio offers powerful APIs for text messaging, voice, and video.')
}}

{{ card.tool(
  'Sparkpost', 
  'https://www.sparkpost.com/', 
  '/images/sparkpost.png', 
  'Sparkpost Logo', 
  ['Email'],  
  'Email sending service with analytics.')
}}

{{ card.tool(
  'Sendgrid', 
  'https://sendgrid.com/', 
  '/images/sendgrid.png', 
  'Sendgrid Logo', 
  ['Email'],  
  'Email sending service. Has an email builder tool as well.')
}}

{{ card.tool(
  'Mailgun', 
  'https://www.mailgun.com/', 
  '/images/mailgun.png', 
  'Mailgun Logo', 
  ['Email'],  
  'Email sending service.')
}}

{{ card.tool(
  'EmailJS', 
  'http://www.emailjs.com/', 
  '/images/emailjs.png', 
  'EmailJS Logo', 
  ['Email'],  
  'No server side code required at all.')
}}

{{ card.tool(
  'OneSignal', 
  'https://onesignal.com/', 
  '/images/onesignal.png', 
  'OneSignal Logo', 
  ['Push Notifications'],  
  'For sending Android, iOS, and Web push notifications.')
}}

{{ card.tool(
  'PopcornNotify', 
  'https://popcornnotify.com/', 
  '/images/popcornnotify.png', 
  'PopcornNotify Logo', 
  ['SMS', 'Email'],  
  'Email and text messages with one JavaScript API.')
}}