{{ card.tool(
  'Google Forms', 
  'https://www.google.com/forms/about/', 
  '/images/google-forms.png', 
  'Google Forms Logo', 
  ['Forms'], 
  'Free.')
}}

{{ card.tool(
  'Wufoo', 
  'https://www.wufoo.com/', 
  '/images/wufoo.png', 
  'Wufoo Logo', 
  ['Forms'], 
  'Secure forms. API access to data. Reporting. Logic & Branching. Integrations.')
}}

{{ card.tool(
  'Typeform', 
  'https://www.typeform.com/', 
  '/images/typeform.png', 
  'Typeform Logo', 
  ['Forms'], 
  'Forms with a novel UI/UX where each question is essentially a full page view that slides by.')
}}

{{ card.tool(
  'Formstack', 
  'https://www.formstack.com/', 
  '/images/formstack.png', 
  'Formstack Logo', 
  ['Forms'], 
  'Payments. Integrations.')
}}

{{ card.tool(
  'Pageclip', 
  'https://pageclip.co/', 
  '/images/pageclip.png', 
  'Pageclip Logo', 
  ['Forms'], 
  'Point the `action` attribute at a pageclip URL and it saves all the data for you. It can trigger an email notification, or makes the data available as JSON or CSV.')
}}

{{ card.tool(
  'Formcarry.', 
  'https://formcarry.com/', 
  '/images/formcarry.png', 
  'Formcarry Logo', 
  ['Forms'], 
  'Point the `action` attribute at Formcarry and it\'ll handle the form processing for you. Notably, it has integrations with services like Zapier, Salesforce, Intercom, and Slack. It also has Webhooks to notify other services (which is nice for serverless architechtures).')
}}

{{ card.tool(
  'Formkeep', 
  'https://formkeep.com/', 
  '/images/formkeep.png', 
  'Formkeep Logo', 
  ['Forms'], 
  'Point the `action` attribute at Formkeep and it\'ll handle the form processing for you. Integrates with services like Zapier, MailChimp, Slack, and Trello. Notable features include spam filtering and auto responders.')
}}

{{ card.tool(
  'Formspree', 
  'https://formspree.io/', 
  '/images/formspree.png', 
  'Formspree Logo', 
  ['Forms'], 
  'You point `action` attribute like many of the other services, but the hook here is that you use your own email address in the URL, so you don\'t even have to register.')
}}

{{ card.tool(
  'Jotform', 
  'https://www.jotform.com/', 
  '/images/jotform.png', 
  'Jotform Logo', 
  ['Forms'], 
  'Has a drag and drop form builder.')
}}

{{ card.tool(
  'Basin', 
  'https://usebasin.com/', 
  '/images/basin.png', 
  'Basin Logo', 
  ['Forms'], 
  'Point the `action` attribute at Basin and it\'ll handle the form processing for you. Basin features include Zapier integration (which connects to loads of other services), spam filtering, response emails, file uploads, and more.')
}}

{{ card.tool(
  'Formaholic', 
  'https://formaholic.com/', 
  '/images/formaholic.png', 
  'Formaholic Logo', 
  ['Forms'], 
  'Their tagline: Send your form to our URL and we\'ll save it & send it to your email. No server side code required - perfect for static sites!')
}}