{{ card.tool(
  'Cloudinary', 
  'https://cloudinary.com/', 
  '/images/cloudinary.png', 
  'Cloudinary', 
  ['Images', 'Video'],  
  'Cloudinary does fancy image/video stuff like manipulation and optimization, but will also directly host for you, making it a good Serverless fit.')
}}

{{ card.tool(
  'Amazon S3', 
  'https://aws.amazon.com/s3/', 
  '/images/aws.png', 
  'AWS Logo', 
  ['File storage'], 
  'The classic file store.')
}}

{{ card.tool(
  'Filestack', 
  'https://www.filestack.com/', 
  '/images/filestack.png', 
  'Filestack logo', 
  ['File storage'], 
  'Offers an all-JavaScript file picker that integrates with other serices. The host the uploaded files.')
}}

{{ card.tool(
  'Kloudless', 
  'https://kloudless.com/', 
  '/images/kloudless.png', 
  'Kloudless logo', 
  ['File storage'], 
  'Integrates multiple file storage solutions with one API.')
}}

{{ card.tool(
  'Uploadcare', 
  'https://uploadcare.com/', 
  '/images/uploadcare.png', 
  'Uploadcare logo', 
  ['File storage'], 
  'Full featured file uploader and file storage.')
}}