{{ card.tool(
  'Dashbird', 
  'https://dashbird.io/', 
  '/images/dashbird.png', 
  'Dashbird Logo', 
  ['Monitoring'],  
  'Their tagline: AWS Lambda monitoring, alerting and debugging made easy. 2-min setup, no code changes!')
}}

{{ card.tool(
  'IOpipe', 
  'https://www.iopipe.com/', 
  '/images/iopipe.png', 
  'IOpipe Logo', 
  ['Monitoring'],  
  'IOpipe is a tool and service that helps you instrument and monitor your functions in dev and production. Free tier available for smaller projects.')
}}

{{ card.tool(
  'Thundra', 
  'https://www.thundra.io/', 
  '/images/thundra.png', 
  'Thundra Logo', 
  ['Monitoring'],  
  'Their tagline: Full observability for AWS Lambda. Instrument and profile your functions with zero overhead. Gain visiblity to identify and resolve issues faster.')
}}