{{ card.tool(
  'Algolia', 
  'https://www.algolia.com/', 
  '/images/algolia.png', 
  'Algolia Logo', 
  ['Search'],  
  'Put all your searchable data in Algolia, and you and query and get results through APIs incredibly fast.')
}}

{{ card.tool(
  'Google Custom Search Engine', 
  'https://cse.google.com/', 
  '/images/google.png', 
  'Google Logo', 
  ['Search'],  
  'You create mini search engines that are scoped by URL and can then embed them onto your own site.')
}}