.root {
  background: #3e67d9;
  border-radius: 5px;
  overflow: hidden;
}

.logoHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  height: 140px;
  padding: 2rem;
}

.logoImage {
  max-width: 120px;
  max-height: 80px;
  display: block;
}

.cardContent {
  padding: 1rem;
  h3 {
    margin: 0 0 1rem 0;
    font-size: 20px;
    a {
      color: white;
      text-decoration: none;
    }
  }
}

.textCardContent {
  a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    border-bottom: 1px solid white;
    &:hover,
    &:focus {
      border-bottom-color: #0f1837;
    }
  }
}

:global {
  .resource {
    display: none;
    [data-filter="filter-"] & {
      display: block;
    }
  }

  $tags: "how-to", "realtime", "explain", "compare", "google-cloud", "firebase",
    "lambda", "react", "push-notifications", "video", "blog", "auth",
    "cloud-functions", "vue", "azure", "stripe", "calculator", "email",
    "graphql", "architecture";

  @each $tag in $tags {
    [data-filter="filter-#{$tag}"] .#{$tag} {
      display: block;
    }
  }
}
