.root {
  padding: 2rem 2rem 0 2rem;
  h1 {
    font-size: 72px;
    font-weight: 400;
  }
}

.h1wrap {
  max-width: 400px;
  h1 {
    height: 0;
    text-indent: -9999px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 20px;
    margin-left: -20px;
  }
  &[data-title="Services"] {
    max-width: 375px;
    h1 {
      padding-top: calc(140 / 400 * 100%);
      background-image: url(/img/services-title.svg);
    }
  }
  &[data-title="Resources"] {
    max-width: 490px;
    h1 {
      padding-top: calc(130 / 482 * 100%);
      background-image: url(/img/resources-title.svg);
    }
  }
  &[data-title="Ideas"] {
    max-width: 291px;
    h1 {
      padding-top: calc(111 / 246 * 100%);
      background-image: url(/img/ideas-title.svg);
    }
  }
}

.logoArea {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 13px;
  img {
    margin-right: 1rem;
    width: 80px;
    height: 80px;
  }
  strong {
    color: #ea9e56;
  }
}

.subtitleArea {
  h2 {
    font-family: "AlternateGothicPro-No1", system-ui, sans-serif;
    text-transform: uppercase;
    font-size: 2.4rem;
    letter-spacing: 0.1rem;
    margin: 0;
  }
  p {
    color: #c4b2ec;
  }
}
