@import "../bits";

.root {
  padding: 2rem 2rem 0 2rem;
  h1 {
    font-size: 72px;
    font-weight: 400;
  }
}

.h1wrap {
  h1 {
    height: 130px;
    text-indent: -9999px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 5px;
    margin-left: -20px;
  }
  &[data-title="Services"] {
    h1 {
      background-image: url(/img/services-title.svg);
    }
  }
  &[data-title="Resources"] {
    h1 {
      background-image: url(/img/resources-title.svg);
    }
  }
  &[data-title="Ideas"] {
    h1 {
      background-image: url(/img/ideas-title.svg);
    }
  }
  @include breakpoint(baby-bear) {
    h1 {
      height: 60px;
    }
  }
}

.logoArea {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 13px;
  text-shadow: 0 0 1px black, 0 0 3px black;
  img {
    margin-right: 1rem;
    width: 80px;
    height: 80px;
  }
  strong {
    color: #ea9e56;
  }
  @include breakpoint(baby-bear) {
    font-size: 9px;
    img {
      width: 40px;
      height: 40px;
    }
  }
}

.subtitleArea {
  h2 {
    font-family: var(--ff-gothic);
    text-transform: uppercase;
    font-size: 2.4rem;
    letter-spacing: 0.1rem;
    margin: 0;
    line-height: 1;
  }
  p {
    color: #c4b2ec;
  }
}
