@import "../components/bits";

.root {
  padding: 1.2rem;
  color: #c4b2ec;
  text-shadow: 0 1px 0 black;
  font-size: 1.2rem;
  // background-color: #251450;
  background-image: url("https://res.cloudinary.com/css-tricks/image/upload/c_scale,f_auto,q_auto,w_600/v1558188228/moon_vkpnau.png"),
    url("https://res.cloudinary.com/css-tricks/image/upload/c_scale,f_auto,q_auto,w_1200/v1558127158/cloud3_v43wo8.png"),
    url("https://res.cloudinary.com/css-tricks/image/upload/c_scale,f_auto,q_auto,w_800/v1558127391/satellite_wezm7k.png");
  background-size: 15%, 65%, 25%;
  background-repeat: no-repeat;
  background-position: top 5% right 7%, top right -20%, top 60% left -5%;
  // background-blend-mode: normal, normal, multiply;
}

.textColumn {
  max-width: 750px;
  margin: 0 auto;
}

.title {
  background-image: url("https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1558447509/what-is_izlaec.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left center;
  height: 200px;
  text-indent: -9999px;
  @include breakpoint(baby-bear) {
    width: 200px;
    height: 100px;
    margin: 60px auto 1rem;
  }
}
