@import "../components/bits";

.root {
  padding: 1rem;
  max-width: 600px;
  margin: 0 auto;
  color: #c4b2ec;
  > p:first-child {
    font-size: 150%;
  }
}

.title {
  background-image: url("https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1558447509/what-is_izlaec.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 200px;
  text-indent: -9999px;
  @include breakpoint(baby-bear) {
    width: 200px;
    height: 100px;
    magin: 0 auto;
  }
}
