---
import BaseLayout from "../layouts/layout.astro";
---

<BaseLayout title="Serverless">
  <div class="homepageWrap">
    <header class="presentedBy">
      <img class="logo" src="/images/css-tricks.svg" alt="CSS-Tricks Presents"
      />
    </header>
    <div class="titleArea">
      <h1 class="homepageTitle">
        The Power of <strong>Serverless</strong> for Front-End Developers
      </h1>
    </div>

    <footer class="homeFooter">
      What is Serverless? <a href="/about/">Find out →</a>
    </footer>
  </div>
</BaseLayout>

<style lang="scss">
  // @import "../bits";

  .homepageWrap {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/images/mountain.png),
      url("https://res.cloudinary.com/css-tricks/image/upload/c_scale,f_auto,q_auto,w_1200/v1558124521/cloud2_ozcydy.png"),
      url("https://res.cloudinary.com/css-tricks/image/upload/c_scale,f_auto,q_auto,w_1200/v1558124913/cloud1_gpju6f.png"),
      url("/images/stars.svg"), url("/img/stars.svg");
    background-position: bottom left, bottom right, bottom 20% right 0,
      top center, top 15% left 38%;
    background-repeat: no-repeat, no-repeat, no-repeat, repeat-x, repeat-x;
    background-size: 60%, 100%, 100%, 65%, 120%;
    // @include breakpoint(baby-bear) {
    //   background-position: bottom left, bottom right, bottom 5% right 0,
    //     top center, top 20% left -20%;
    // }
  }

  .homepageTitle {
    font-family: "Nunito", sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1;
    text-align: center;
    letter-spacing: 1px;
    width: 55vw;
    strong {
      display: block;
      text-indent: -9999px;
      height: 0;
      padding-top: calc(150 / 700 * 100%);
      background: url(/images/serverless-title.svg) no-repeat top center;
      background-size: cover;
    }
  }

  .presentedBy {
    padding: 2rem;
    img {
      display: block;
      margin: 0 auto;
    }
  }

  .titleArea {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .homeFooter {
    text-align: center;
    padding: 1rem 3rem;
    margin-bottom: 3rem;
    background: rgba(rgb(22, 8, 59), 0.66);
    border-radius: 50px;
    a {
      background: linear-gradient(to right, #8c4ec5, #e68f40);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: bold;
      margin-left: 0.25rem;
    }
  }
</style>
