.grid {
  padding: 0 2rem 2rem 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1rem;
}

.homepageWrap {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.presentedBy {
  padding: 2rem;
  img {
    display: block;
    margin: 0 auto;
  }
}
.titleArea {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.homepageTitle {
  font-family: "Nunito", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  letter-spacing: 1px;
  width: 75%;
  strong {
    display: block;
    text-indent: -9999px;
    height: 0;
    padding-top: calc(150 / 700 * 100%);
    background: url(/img/serverless-title.svg) no-repeat top center;
    background-size: cover;
  }
}

.button {
  font-family: inherit;
  font-size: 1rem;
  display: inline-block;
  background: linear-gradient(to bottom, #4666d2, #182248);
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem 0.5rem 0;
  border-radius: 8px;
  border: 0;
  outline: 0;
  white-space: nowrap;
  &[aria-current] {
    background: #4666d2;
  }
}
