.nav {
  font-family: var(--ff-gothic);
  text-transform: uppercase;
  font-size: 2rem;
}

.tag {
  background: none;
  border: 0;
  font-family: var(--ff-gothic);
  color: #c4b3ec;
  font-size: 2rem;
  text-transform: uppercase;
}
