@import "bits";
@import url("https://fonts.googleapis.com/css?family=Shrikhand|Nunito:400,700");
@import url("https://hello.myfonts.net/count/394f01");

@font-face {
  font-family: "AlternateGothicPro-No1";
  src: url("/webfonts/394F01_0_0.woff2") format("woff2");
  font-display: swap;
}

* {
  box-sizing: border-box;
}
html {
  --ff-rounded: "Nunito", sans-serif;
  --ff-gothic: "AlternateGothicPro-No1", system-ui, sans-serif;

  font-family: var(--ff-rounded);
  font-size: calc(12px + 0.4vw);
  line-height: 1.5;
  background: #130931;
  color: white;
}
@include breakpoint(baby-bear) {
  html {
    font-size: 11px;
  }
}
body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background: black;
}
::-webkit-scrollbar-track {
  background: transparent;
}

[style*="--aspect-ratio"] > :first-child {
  width: 100%;
}
[style*="--aspect-ratio"] > img {
  height: auto;
}
@supports (--custom: property) {
  [style*="--aspect-ratio"] {
    position: relative;
  }
  [style*="--aspect-ratio"]::before {
    content: "";
    display: block;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
  }
  [style*="--aspect-ratio"] > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
}

p {
  margin: 0 0 1rem 0;
}
a {
  color: #9058b5;
}
a:hover,
a:focus {
  text-decoration-color: #e1d6eb;
}

.button {
  font-family: inherit;
  font-size: 1rem;
  display: inline-block;
  background: linear-gradient(to bottom, #4666d2, #182248);
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem 0.5rem 0;
  border-radius: 8px;
  border: 0;
  outline: 0;
  white-space: nowrap;
}
button[aria-current] {
  background: #4666d2;
}

.grid {
  padding: 0 2rem 2rem 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
  @media (max-width: 810px) {
    grid-template-columns: repeat(auto-fill, minmax(213px, 1fr));
  }
  @include breakpoint(baby-bear) {
    grid-template-columns: 1fr;
  }
}

.screen-reader,
.screen-reader-text {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
}
