@import url("https://fonts.googleapis.com/css?family=Shrikhand|Nunito:400,700");

* {
  box-sizing: border-box;
}
html {
  font-family: "Nunito", sans-serif;
  font-size: calc(11px + 0.28vw);
  line-height: 1.5;
  background: #0e1839;
  color: white;
}
body {
  margin: 0;
}

/* ::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background: black;
}
::-webkit-scrollbar-track {
  background: transparent;
} */

[style*="--aspect-ratio"] > :first-child {
  width: 100%;
}
[style*="--aspect-ratio"] > img {
  height: auto;
}
@supports (--custom: property) {
  [style*="--aspect-ratio"] {
    position: relative;
  }
  [style*="--aspect-ratio"]::before {
    content: "";
    display: block;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
  }
  [style*="--aspect-ratio"] > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
}

h1,
h2 {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
}
