@import url("https://fonts.googleapis.com/css?family=Shrikhand|Nunito:400,700");
@import url("https://hello.myfonts.net/count/394f01");

@font-face {
  font-family: "AlternateGothicPro-No1";
  src: url("/webfonts/394F01_0_0.woff2") format("woff2");
}

* {
  box-sizing: border-box;
}
html {
  --ff-rounded: "Nunito", sans-serif;
  --ff-gothic: "AlternateGothicPro-No1", system-ui, sans-serif;

  font-family: var(--ff-rounded);
  font-size: calc(11px + 0.28vw);
  line-height: 1.5;
  background: #130931;
  color: white;
}
body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background: black;
}
::-webkit-scrollbar-track {
  background: transparent;
}

[style*="--aspect-ratio"] > :first-child {
  width: 100%;
}
[style*="--aspect-ratio"] > img {
  height: auto;
}
@supports (--custom: property) {
  [style*="--aspect-ratio"] {
    position: relative;
  }
  [style*="--aspect-ratio"]::before {
    content: "";
    display: block;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
  }
  [style*="--aspect-ratio"] > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
}

p {
  margin: 0 0 1rem 0;
}
