$smMedia: "(max-width: 500px)";

.root {
  padding: 10rem 2rem 4rem;
  text-align: center;
}

.siteTitle {
  display: inline-block;
  margin: 0;
  > span {
    display: block;
    padding: 0.25rem;
    font-family: "Noto Sans", sans-serif;
    font-style: italic;
    font-size: 1.4rem;
    &:last-child {
      line-height: 0.8;
    }
    @supports (-webkit-text-fill-color: transparent) {
      background: linear-gradient(to right, #222, #eee, #222);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 250% 100%;
      background-position: 0 0;
      animation: move-gradient 4s ease infinite;
    }
  }
  > strong {
    display: block;
    font-size: 5rem;
    text-transform: uppercase;
    color: black;
    line-height: 1.1;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }
  @media #{$smMedia} {
    > strong {
      font-size: 3rem;
    }
  }
}