@import "bits";

.root {
  display: grid;
  grid-template-columns: 3fr 1fr;
  > nav {
    grid-column: 2;
  }
  @include breakpoint(nav-break) {
    grid-template-columns: 1fr;
    padding-top: 40px;
    > nav {
      grid-column: 1;
      grid-row: -1;
      :global(body.homepage) & {
        margin-top: 0;
        grid-row: 2;
      }
    }
  }
}
