@import "../bits";

.root {
  --animationTiming: 0.5s;
  --mainNavCollapsedHeight: 50px;

  > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    > li {
      background-image: url(/img/texture2.png);
      background-size: cover;
      background-color: #37236b;
      background-blend-mode: screen;
      position: relative;
      overflow: hidden;
      will-change: background-position;
      &[data-services] {
        background-image: url("https://res.cloudinary.com/css-tricks/image/upload/c_scale,f_auto,q_auto,w_800/v1558127391/satellite_wezm7k.png"),
          url("https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1558446566/moon2_qkahpp.png"),
          url(/img/texture2.png),
          linear-gradient(
            135.29deg,
            #e9910d -21.42%,
            rgba(169, 0, 197, 0.3) 61.79%
          );
        background-position: top 3% right -8%, bottom 5% left 8%, center center,
          top 100% left 0;
        background-repeat: no-repeat;
        background-size: 140px, 120px, cover, 100% 200%;
        &:hover {
          background-position: top -3% right -12%, bottom 4% left -8%,
            center center, top 0 left 0;
        }
      }
      &[data-resources] {
        background-image: url("https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1558447058/angle-rocket_q7ogzm.png"),
          url("https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1558447057/cloud-small_szm500.png"),
          url(/img/texture2.png),
          linear-gradient(
            135.29deg,
            #e9910d -21.42%,
            rgba(169, 0, 197, 0.3) 61.79%
          );
        background-position: top 75% right -8%, bottom 80% left -10%,
          center center, top 100% left 0;
        background-repeat: no-repeat;
        background-size: 175px, 110px, cover, 100% 200%;
        &:hover {
          background-position: top 13% right 5%, bottom 20% left -10%,
            center center, top 0 left 0;
          background-size: 175px, 80px, cover, 100% 200%;
        }
      }
      &[data-ideas] {
        background-image: url("https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1558447509/star1_jivq8a.png"),
          url("https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1558447509/star2_xw2ndh.png"),
          url("https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1558447509/star1_jivq8a.png"),
          url("https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1558447509/star2_xw2ndh.png"),
          url(/img/texture2.png),
          linear-gradient(
            135.29deg,
            #e9910d -21.42%,
            rgba(169, 0, 197, 0.3) 61.79%
          );
        background-position: top 65% left 2%, bottom 60% right 20%,
          top 15% left 35%, bottom 10% right 10%, center center, top 100% left 0;
        background-repeat: no-repeat;
        background-size: 50px, 40px, 80px, 40px, cover, 100% 200%;
        &:hover {
          background-position: top 65% left 2%, bottom 60% right 20%,
            top 15% left 35%, bottom 10% right 10%, center center,
            top 100% left 0;
          background-size: 80px, 50px, 100px, 50px, cover, 100% 200%;
        }
      }
      > a {
        font-family: var(--ff-gothic);
        font-size: 2rem;
        text-transform: uppercase;
        padding: 1rem;
        letter-spacing: 0.1rem;
        display: block;
        color: white;
        text-decoration: none;
        text-shadow: 0 0 2px black;
      }
      [data-subnav] {
        a {
          font-size: 1.1rem;
          display: block;
          padding: 2px 0;
          text-align: center;
          color: white;
          text-decoration: none;
          &:hover,
          &:focus {
            color: #ffac29;
          }
          &[aria-current] {
            font-weight: bold;
          }
        }
      }
    }
    > li::after,
    > li::before {
      content: "";
      position: absolute;
      left: 0;
      top: -10px;
      width: 100%;
      height: 20px;
      background: url(/img/horizontal-dividers.svg);
      background-position: to dp left;
      background-repeat: no-repeat;
      background-size: 100% 20px;
      z-index: 1000;
    }
    > li::after {
      top: auto;
      bottom: -10px;
    }
  }

  @include breakpoint(nav-break) {
    display: none;

    :global(body.menu-open) & {
      display: block;
      margin-top: 10px;
    }

    :global(body.homepage) & {
      & ul::after {
        top: -10px;
      }
    }

    > ul {
      display: grid;
      grid-template-columns: 50% 50%;
      > li {
        display: grid;
        place-items: center;
        &::before {
          display: none;
        }
        &[data-services] {
          padding-bottom: 1rem;
          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: auto;
            right: -10px;
            width: 20px;
            height: 100%;
            background: url(/img/vertical-dividers.svg);
            background-position: top left;
            background-repeat: no-repeat;
            background-size: 100%;
            z-index: 1000;
          }
        }
        a {
          padding-top: 4rem;
          padding-bottom: 4rem;
        }
      }
      > li[data-services] {
        grid-row: 1 / span 2;
        [data-subnav] {
          display: none;
        }
      }
    }
    &[data-active="services"] {
      > ul {
        > li[data-services] {
          [data-subnav] {
            display: block;
          }
        }
      }
    }
  }

  @include breakpoint(reverso-nav-break) {
    position: sticky;
    top: 0;
    align-self: start;
    > ul {
      min-height: 100vh;
      > li {
        height: calc(12vh);
        transition: background-position 0.15s, background-size 0.15s,
          opacity 0.5s, height 0.3s;
        > a {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: var(--animationTiming);
        }
      }
      &:hover {
        > li {
          opacity: 0.4;
          filter: grayscale(80%);
          &:hover {
            filter: grayscale(0);
            opacity: 1;
          }
        }
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: -10px;
      width: 20px;
      height: 100%;
      background: url(/img/vertical-dividers.svg);
      background-position: top left;
      background-repeat: no-repeat;
      background-size: 20px 100%;
      z-index: 1000;
    }

    &[data-active="nothing"] > ul > li {
      height: calc(33.33vh);
    }
    &[data-active="services"] {
      > ul > li[data-services] {
        height: 76vh;
        > a {
          height: 20%;
        }
      }
      > ul > li {
        height: 12vh;
      }
    }
    &[data-active="resources"] {
      > ul > li[data-resources] {
        height: 40vh;
      }
      > ul > li {
        height: 30vh;
      }
    }
    &[data-active="ideas"] {
      > ul > li[data-ideas] {
        height: 40vh;
      }
      > ul > li {
        height: 30vh;
      }
    }
  }
}
