.root {
  --animationTiming: 0.5s;
  --mainNavCollapsedHeight: 50px;

  position: sticky;
  top: 0;
  align-self: start;
  > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    > li {
      height: calc(33.33vh);
      transition: 0.25s;
      background-image: url(/img/texture.png);
      background-color: #37236b;
      background-blend-mode: screen;
      position: relative;
      &[data-active="true"] {
        height: calc(36vh - 1px);
      }
      &::after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 0;
        width: 100%;
        height: 20px;
        background: url(/img/horizontal-dividers.svg);
        background-position: top left;
        background-repeat: no-repeat;
        background-size: 100% 20px;
        z-index: 1;
      }
      &:hover {
        background-image: url(/img/texture.png),
          linear-gradient(
            135.29deg,
            #e9910d -21.42%,
            rgba(169, 0, 197, 0) 61.79%
          );
      }
      > a {
        display: block;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        text-decoration: none;
        transition: var(--animationTiming);
        font-weight: 800;
        font-size: 20px;
        text-transform: uppercase;
        padding: 1rem;
      }
    }
    &:hover {
      > li {
        > a {
          opacity: 0.25;
        }
        &:hover {
          a {
            opacity: 1;
          }
        }
      }
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: -10px;
    width: 20px;
    height: 100%;
    background: url(/img/vertical-dividers.svg);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 20px 100%;
  }
}
